main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside {
  border: 2px solid #eaeaea;
  margin-bottom: 20px;
  width: 180px;
  position: relative;
}

aside h2 {
  margin-left: 10px;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  gap: 10px;
}

.menu a {
  padding: 15px 20px;
  text-decoration: none;
  width: 100%;
  color: black;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid transparent;
  transition: all 0.1s;
}

.menu a.current, .menu a:hover {
  color: #007bff;
  border-color: #007bff;
}

.container {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 10px;
  position: relative;
}

table {
  height: fit-content;
  max-width: 600px;
  width: 100%;
  table-layout: fixed;
  overflow: hidden;
  border-collapse: collapse;
}

td {
  max-height: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 8px;
  border: 1px solid #ddd;
}

#category-create {
  position: absolute;
  bottom: 10px;
  width: 90%;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 8px 0;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
}

#category-create:hover {
  background-color: #008bff;
  cursor: pointer;
}

#product-create {
  position: absolute;
  bottom: 30px;
  right: 10px;
  padding: 10px 12px;
  color: white;
  background-color: #007bff;
  font-weight: 700;
  border: none;
  border-radius: 10px;
}

#product-create:hover {
  cursor: pointer;
  background-color: #008bff;
}

.product:hover {
  cursor: pointer;
}